*{
    color: #fff;
    
    
}




.header h1{
   
    color: #fff;
    font-weight: 700 ;
    font-size: ;
}

.content h2{
    color: #F3722C  ;
    font-weight: 1000 ;
    font-size: xx-large;
}

.content p{
    font-size: larger;
    font-style: normal;
    
}

