.homepage-container{
    padding: 10%;
}




.header h1{
   
    color: #0d1856;
    font-weight: 700 ;
    font-size: ;
}

.content h2{
    color: #F3722C  ;
    font-weight: 1000 ;
    font-size: xx-large;
    
}

.content p{
    font-size: larger;
    font-style: normal;

}

