
*{
    text-decoration: none;
    
    
}
.nav{

    width:100%;
   
    background:#F3722C  ;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    margin: 0%;
    font-weight: 900;
    font-size: x-large;
    
    
}



.items{
    height: 50px;
    width: 50px;
}

  